body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
}

svg {
  cursor: pointer;
}

h2 {
  text-align: center;
}

ul {
  list-style: none;
  max-width: 60%;
  margin: auto;
}

.title, .body {
  text-align: center;
}

.title  button {
  margin-left: 5px;
}

.title {
  padding: 10px 0;
}

.status-lists {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 10px;
}

.status-lists li {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 20px;
}

.status-active {
  background: #00b320;
  color: white;
}